/* Write your CSS here */
@media screen and (min-width: 768px) {
  .bg-container {
    background-color: #ffd569;
    min-height: 100vh;
    padding: 10px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .card-container {
    background-color: #ffffff;
    padding-top: 70px;
    padding-bottom: 70px;
    padding: 10px;
    width: 85%;

    border: 0px solid;
    border-radius: 15px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .heading {
    color: #000000;
    font-family: 'roboto';
    font-size: 42px;
    padding-bottom: 30px;
  }
  .mangoCount {
    color: #ffd569;
    font-family: 'roboto';
    font-size: 45px;
  }
  .bananaCount {
    color: #ffd569;
    font-family: 'roboto';
    font-size: 45px;
  }
  .fruit-container {
    padding-top: 20px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  .fruits-box {
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .image {
    width: 75%;
    padding: 20px;
  }
  button {
    background-color: #007bff;
    color: #ffffff;
    font-size: 18px;
    height: 45px;
    width: 120px;
    padding: 12px;
    margin-top: 15px;

    border: 0px solid;
    border-radius: 6px;
    cursor: pointer;
    outline: none;
  }
}

/*small Devices >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */
@media (max-width: 767px) {
  .bg-container {
    background-color: #ffd569;
    min-height: 100vh;
    padding: 10px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .card-container {
    background-color: #ffffff;
    padding-top: 20px;
    padding-bottom: 20px;
    padding: 10px;
    width: 99%;

    border: 0px solid;
    border-radius: 12px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .heading {
    color: #000000;
    font-family: 'roboto';
    font-size: 18px;
    padding-bottom: 25px;
  }
  .mangoCount {
    color: #ffd569;
    font-family: 'roboto';
    font-size: 20px;
  }
  .bananaCount {
    color: #ffd569;
    font-family: 'roboto';
    font-size: 20px;
  }
  .fruit-container {
    padding-top: 10px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .fruits-box {
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .image {
    width: 75%;
    padding: 5px;
  }
  button {
    background-color: #007bff;
    color: #ffffff;
    font-size: 12px;
    height: 35px;
    width: 100px;
    padding: 10px;
    margin-top: 15px;

    border: 0px solid;
    border-radius: 5px;
    cursor: pointer;
    outline: none;
  }
}
